.products-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products {
    width: 50%;

    text-decoration: none;
    color: black;
}

.product-link {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.image-products {
    width: 100%;
}

.price-addCart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.sizes-select {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.label-select {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
